{% extends 'base.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="subtitle">Matchs</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Week</th>
                    <th>Home</th>
                    <th>Away</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for match in matches %}
                <tr>
                    <td>{{ match.id }}</td>
                    <td>{{ match.week }}</td>
                    <td>{{ match.home_team }}</td>
                    <td>{{ match.away_team }}</td>
                    <td>{{ match.start_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}