<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pool NFL 2021</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block preamble %}{% endblock %}
    <script type="text/javascript">
      var menuShown = false;
      function toggleMenu()
      {
        menuShown = !menuShown;
        var burger = document.getElementById("navbar-burger");
        var menu = document.getElementById("navbar-menu");
        if(menuShown)
        {
          burger.classList.add("is-active");
          menu.classList.add("is-active");
        }
        else
        {
          burger.classList.remove("is-active");
          menu.classList.remove("is-active");
        }
      }
    </script>
  </head>
  <body>
    <nav class="navbar is-dark">
      <div class="navbar-brand">
        <a class="navbar-item" href="/"><i class="fa-solid fa-football"></i>&nbsp;Pool NFL</a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" id="navbar-burger" onClick="toggleMenu()">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>  
      <div class="navbar-menu" id="navbar-menu">
        <div class="navbar-start">
        {% if user %}
          <a href="/week" class="navbar-item"><i class="fa-solid fa-angle-right"></i>&nbsp;{{ gettext("matches") }}</a>
          <a href="/standings" class="navbar-item"><i class="fa-solid fa-medal"></i>&nbsp;{{ gettext("standings") }}</a>
          {% if user.is_admin %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">{{ gettext("admin") }}</a>
            <div class="navbar-dropdown">
              <a href="/admin/result" class="navbar-item">{{ gettext("results") }}</a>
            </div>
          </div>
          {% endif %}
        {% endif %}
      </div>
      <div class="navbar-end">
        {% if user %}
        <a href="/profile" class="navbar-item"><i class="fa-solid fa-user"></i>&nbsp;{{ user.name }}</a>
        {% if lang == "fr" %}
        <a href="/lang/en" class="navbar-item" title="{{ gettext('switch-en') }}"><i class="fa-solid fa-globe"></i>&nbsp;EN</a>
        {% else %}
        <a href="/lang/fr" class="navbar-item" title="{{ gettext('switch-fr') }}"><i class="fa-solid fa-globe"></i>&nbsp;FR</a>
        {% endif %}
        <div class="navbar-item">
          <div class="buttons">
            <a href="/logout" class="button is-secondary"><strong>{{ gettext("logout") }}</strong></a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    </nav>
    {% block content %}{% endblock %}
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Request served at: <strong>{{ request_time | to_eastern_time(granularity="seconds") }}</strong>
        </p>
      </div>
    </footer>
  </body>
</html>