{% extends 'base.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="subtitle">Classement</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Points</th>
                    <th>Réussite (%)</th>
                </tr>
            </thead>
            <tbody>
                {% for r in rankings %}
                <tr>
                    <td>{{ r.name }}</td>
                    <td>{{ r.points }}</td>
                    <td>{{ r.good }} / {{ total_matches }} ({{ r.percentage }}%)</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}