{% extends 'base.html' %}

{% block preamble %}
<meta http-equiv="Refresh" content="5; URL={{ redirect_url }}/{{ path }}" />
{% endblock %}

{% block content %}
<section class="section">
    <h1 class="title">nfl123 est rendu à une nouvelle addresse</h1>
    <p class="content">Vous serez redirigé automatiquement sur <em>{{ redirect_url }}</em> qui hébergera désormais le site. Mettez à jour vos raccourcis au besoin.</p>
    <p class="content">Il a été décidé de déplacer le site suite à l'annonce que Heroku mettra fin à ses plans gratuits le 28 Novembre 2022. Pour en savoir plus: <a href="https://blog.heroku.com/next-chapter">https://blog.heroku.com/next-chapter</a></p>
</section>
{% endblock %}