{% extends 'base.html' %}

{% block preamble %}
<style type="text/css">
    thead {
        font-weight: bold;
    }

    #per-week-table th, #per-week-table td {
        border-right: 1px solid #dbdbdb;
    }
</style>
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">{{ gettext("standings") }}</h1>
        {% include 'components/chooser.html' %}
        <hr />
        <h2 class="subtitle">Cumulative</h2>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <td>{{ gettext("rank") }}</td>
                    <td>{{ gettext("name") }}</td>
                    <td>{{ gettext("points") }}</td>
                    <td>{{ gettext("score") }}</td>
                    <td><abbr title="{{ gettext('percentage') }}">{{ gettext("pct") }}</abbr></td>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                {% set percentage = (user.score / total_matches) * 100 if total_matches > 0 else 0 %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.points }}</td>
                    <td>{{ user.score }} / {{ total_matches }}</td>
                    <td>{{ "%d"|format(percentage) }} %</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
        <hr />
        <h2 class="subtitle">Per week</h2>
        <div class="table-container">
            <table class="table" id="per-week-table">
                <thead>
                    <tr>
                        <th></th>
                        {% for week in weeks %}
                        <th colspan="2" style="text-align: center">{{ week.display_name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for user, scores in all_users_scores.items() %}
                    <tr>
                        <th>{{ user.name }}</td>
                        {% for week in weeks %}
                        {% set score = scores[week] %}
                        <td style="color: {{ points_color(score.points) }}">{{ "%+d"|format(score.points) }}</td>
                        <td style="color: {{ score_color(score.score, score.total_matches) }}">{{ score.score }}/{{ score.total_matches }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}