{% extends 'base.html' %}

{% block preamble %}
<style type="text/css">
    thead {
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="subtitle">{{ gettext("standings") }}</h1>
        {% include 'components/chooser.html' %}
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <td>{{ gettext("rank") }}</td>
                    <td>{{ gettext("name") }}</td>
                    <td>{{ gettext("points") }}</td>
                    <td>{{ gettext("score") }}</td>
                    <td><abbr title="{{ gettext('percentage') }}">{{ gettext("pct") }}</abbr></td>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                {% set percentage = (user.score / total_matches) * 100 if total_matches > 0 else 0 %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.points }}</td>
                    <td>{{ user.score }} / {{ total_matches }}</td>
                    <td>{{ "%d"|format(percentage) }} %</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock %}