{% extends 'base.html' %}

{% block preamble %}
<style type="text/css">
    @media only screen and (max-width: 768px) {
        .block {
            border: 1px solid darkgrey;
            padding: 20px;
        }
    }

    label.unselected.win {
        border: 1px dashed green;
    }

    input:checked + label {
        border: 1px solid gray;
    }

    input:checked + label.win {
        border: 1px solid green;
    }

    input:checked + label.loss {
        border: 1px solid red;
    }

    input[type=radio] {
        display: none;
    }

    div.win, span.win {
        color: green
    }

    div.loss, span.loss {
        color: red
    }

    img.logo {
        vertical-align: middle;
        padding-left: 2px;
        padding-right: 2px;
        margin-top: -4px;
        margin-bottom: -4px;
    }

    label.locked {
        background-color: #eeeeee;
        color: #666666;
    }
</style>
{% endblock %}

{% block content %}
<section class="section">
    <h1 class="title">Matchs - {{ gettext('week') + " " + week.display_name if week.display_name.isdigit() else gettext("week/" + week.display_name) }}</h1>
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">{{ gettext("points") }}</p>
            <p class="title" style="color: {{ points_color(points) }}">{{ "%+d"|format(points) }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">{{ gettext("score") }}</p>
            <p class="title" style="color: {{ score_color(score, total_matches) }}">{{ score }}/{{ total_matches }}</p>
            </div>
        </div>
    </nav>
    <form class="container" action="/week/{{ week.display_name }}" method="POST">
        {% include 'components/pagination.html' %}
        {% for match in matches %}
        <div class="block">
            <div class="columns is-vcentered">
                <div class="column">
                    {% set label_classes = [] %}
                    {% if match.final %}
                        {% set label_classes = label_classes + ['win' if match.away_score >= match.home_score else 'loss'] %}    
                        {% if not match.user_selected %}
                            {% set label_classes = label_classes + ['unselected'] %}
                        {% endif %}
                    {% endif %}
                    {% if match.locked %}
                        {% set label_classes = label_classes + ['locked'] %}
                    {% endif %}
                    <input type="radio" id="match_{{ match.id }}_away" name="match_{{ match.id }}" value="away" {% if predictions[match.id] == "away" %}checked="checked"{% endif %} {% if match.locked %}disabled="disabled"{% endif %}>
                    <label class="box column {{ label_classes | join(' ') }}" style="text-align: right;" for="match_{{ match.id }}_away" {% if match.locked %}title="{{ gettext("tooltip_locked") }}"{% endif %}>
                        {{ match.away_team }}
                        <img class="logo" src="{{ url_for('static', filename=match.away_logo) }}" />
                    </label>
                </div>
                <div class="column is-narrow-tablet" style="text-align: center;">
                    {% if match.final %}
                        {{ match.away_score }} - {{ match.home_score }} <br />
                        <span class="{{ 'win' if match.user_win else 'loss' }}">{{ "%+d"|format(match.user_score) }}</span>
                    {% else %}
                        @
                    {% endif %}
                </div>
                <div class="column">
                    {% set label_classes = [] %}
                    {% if match.final %}
                        {% set label_classes = label_classes + ['win' if match.home_score >= match.away_score else 'loss'] %}    
                        {% if not match.user_selected %}
                            {% set label_classes = label_classes + ['unselected'] %}
                        {% endif %}
                    {% endif %}
                    {% if match.locked %}
                        {% set label_classes = label_classes + ['locked'] %}
                    {% endif %}
                    <input type="radio" id="match_{{ match.id }}_home" name="match_{{ match.id }}" value="home" {% if predictions[match.id] == "home" %}checked="checked"{% endif %} {% if match.locked %}disabled="disabled"{% endif %}>
                    <label class="box column {{ label_classes | join(' ') }}" style="text-align: left;" for="match_{{ match.id }}_home" {% if match.locked %}title="{{ gettext("tooltip_locked") }}"{% endif %}>
                        <img class="logo" src="{{ url_for('static', filename=match.home_logo) }}" />
                        {{ match.home_team }}
                    </label>
                </div>
            </div>
            <div class="columns is-mobile">
                <div class="column is-full" style="text-align: center;">{{ match.start_time }}</div>
            </div>
        </div>
        {% endfor %}
        <input type="submit" class="button is-primary is-fullwidth" value="{{ gettext('submit') }}" />
    </form>
</section>
{% endblock %}