{% extends 'base.html' %}

{% block preamble %}
<style type="text/css">
    @media only screen and (max-width: 768px) {
        .block {
            border: 1px solid darkgrey;
            padding: 20px;
        }
    }

    label {
        border-width: 2px;
        border-style: hidden;
    }

    label.saved {
        border-style: solid;
        border-color: lightgray;
    }

    label.unselected.win {
        border-style: dashed ;
        border-color: green;
    }

    input:checked + label {
        border-style: dashed;
        border-color: gray;
    }

    input:checked + label.saved {
        border-style: solid;
    }

    input:checked + label.win {
        border-style: solid;
        border-color: green;
    }

    input:checked + label.loss {
        border-style: solid;
        border-color: red;
    }

    input[type=radio] {
        display: none;
    }

    div.win, span.win {
        color: green
    }

    div.loss, span.loss {
        color: red
    }

    img.logo {
        vertical-align: middle;
        padding-left: 2px;
        padding-right: 2px;
        margin-top: -4px;
        margin-bottom: -4px;
    }

    label.locked {
        background-color: #eeeeee;
        color: #666666;
    }

    .record {
        font-size: .85rem;
        font-style: italic;
    }
</style>
<script type="text/javascript">
    function deleteNotification(source)
    {
        source.parentElement.remove()
    }
</script>
{% endblock %}

{% block content %}
<section class="section">
    <h1 class="title">Matchs - {{ gettext('week') + " " + week.display_name if week.display_name.isdigit() else gettext("week/" + week.display_name) }}</h1>
    {% if save_requested %}
    <div class="notification is-primary">
        <button class="delete" onClick="deleteNotification(this)"></button>
        {{ total_saved }} / {{ total_requested }} {{ gettext("picks_saved") }}
    </div>
    {% endif %}
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">{{ gettext("points") }}</p>
            <p class="title" style="color: {{ points_color(points) }}">{{ "%+d"|format(points) }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">{{ gettext("score") }}</p>
            <p class="title" style="color: {{ score_color(score, total_matches) }}">{{ score }}/{{ total_matches }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">{{ gettext("picks") }}</p>
            <p class="title">{{ total_picks }}/{{ matches | length }}</p>
            </div>
        </div>
    </nav>
    <form class="container" action="/week/{{ week.display_name }}" method="POST">
        {% include 'components/pagination.html' %}
        {% for match in matches %}
        <div class="block">
            <div class="columns is-vcentered">
                {{ away_team(match) }}
                <div class="column is-narrow" style="text-align: center;">
                    {% if match.is_final() %}
                        {{ match_score(match.result.away_score, match.result.home_score, "Final/OT" if match.result.is_ot else "Final") }} <br />
                        <span class="{{ 'win' if match.user_result.win else 'loss' }}">{{ "%+d"|format(match.user_result.score) }}</span>
                    {% else %}
                        {% if match.scoreboard %}
                            {{ match_score(match.scoreboard.away_score, match.scoreboard.home_score, match.scoreboard.progress) }}
                        {% else %}
                            @
                        {% endif %}
                    {% endif %}
                    <br />
                    
                </div>
                {{ home_team(match) }}
                {% if week.type|string == "WeekType.playoffs" %}
                  {{ playoff_points(match) }}
                {% endif %}
            </div>
            <div class="columns is-mobile">
                <div class="column is-full" style="text-align: center;">{{ match.start_time | to_eastern_time }}</div>
            </div>
        </div>
        {% endfor %}
        <input type="submit" class="button is-primary is-fullwidth" value="{{ gettext('submit') }}" />
    </form>
</section>
{% endblock %}

{% macro away_team(match) -%}
<div class="column">
    {% set is_checked = match.user_pick == "away" %}    
    {{ hidden_radio(match_id=match.id, side="away", checked=is_checked, disabled=match.is_locked) }}
    {% call team_label(match, "away", is_checked) %}
        {{ win_record(match.away_team_record) }}
        {{ match.away_team.full_name }}
        {{ team_logo(match.away_team.logo()) }}
        {% if match.is_locked %}
            <br />
            <div class="is-size-7 pr-1 pt-2">{{ match.other_picks_away | join(', ') }}&nbsp;<i class="fas fa-user pl-1"></i></div>
        {% endif %}
    {% endcall %}
</div>
{%- endmacro %}

{% macro home_team(match) -%}
<div class="column">
    {% set is_checked = match.user_pick == "home" %}    
    {{ hidden_radio(match_id=match.id, side="home", checked=is_checked, disabled=match.is_locked) }}    
    {% call team_label(match, "home", is_checked) %}
        {{ team_logo(match.home_team.logo()) }}
        {{ match.home_team.full_name }}
        {{ win_record(match.home_team_record) }}
        {% if match.is_locked %}
            <br />
            <div class="is-size-7 pl-1 pt-2"><i class="fas fa-user pr-1"></i>&nbsp;{{ match.other_picks_home | join(', ') }}</div>
        {% endif %}
    {% endcall %}
</div>
{%- endmacro %}

{% macro hidden_radio(match_id, side, checked, disabled) -%}
<input type="radio" id="match_{{ match_id }}_{{ side }}" name="match_{{ match_id }}" value="{{ side }}" {% if checked %}checked="checked"{% endif %} {% if disabled %}disabled="disabled"{% endif %}>
{%- endmacro %}

{% macro team_logo(logo) -%}
<img class="logo" src="{{ url_for('static', filename='logo/' + logo) }}" />
{%- endmacro %}

{% macro win_record(record) -%}
<span class="record">{{ (record[0:2] if record[2] == 0 else record) | join ('-') }}</span>
{%- endmacro %}

{% macro match_score(away_score, home_score, status) -%}
    {{ away_score }} - {{ home_score }} <br />
    {{ status }}
{%- endmacro %}

{% macro team_label(match, side, is_checked) -%}
{% set label_classes = ["has-text-left" if side == "home" else "has-text-right"] %}
{% if match.is_final() %}
    {% if side == "home" %}
        {% set label_classes = label_classes + ['win' if match.result.home_score >= match.result.away_score else 'loss'] %}    
    {% else %}
        {% set label_classes = label_classes + ['win' if match.result.away_score >= match.result.home_score else 'loss'] %}
    {% endif %}

    {% if not match.has_user_selected() %}
        {% set label_classes = label_classes + ['unselected'] %}
    {% endif %}
{% endif %}
{% if match.is_locked %}
    {% set label_classes = label_classes + ['locked'] %}
{% endif %}
{% if is_checked %}
    {% set label_classes = label_classes + ['saved'] %}
{% endif %}

<label class="box column {{ label_classes | join(' ') }}" for="match_{{ match.id }}_{{ side }}" {% if match.is_locked %}title="{{ gettext("tooltip_locked") }}"{% endif %}>
    {{ caller() }}
</label>
{%- endmacro %}

{% macro playoff_points(match) -%}
    {% set max = {"WC": 4, "DF": 4, "CF": 5, "SB": 10}[week.display_name] %}
    <div class="column is-narrow" style="text-align: center;">
        <div class="select">
            <select name="points_{{ match.id }}" id="points_{{ match.id }}" {% if match.is_locked %}disabled="disabled"{% endif %}>
                {% for val in range(1, max+1) %}
                {% set selected = (match.user_points == val) %}
                <option value="{{ val }}" {% if selected %}selected="selected" style="font-weight: bold"{% endif %}>{{ val }}{% if selected %} *{% endif %}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{%- endmacro %}